body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

footer {
    background: -moz-linear-gradient(-45deg, rgba(125, 125, 125, 0.8), rgba(14, 14, 14, 1));
    background: -webkit-linear-gradient(-45deg, rgba(125, 125, 125, 0.8), rgba(14, 14, 14, 1));
    background: linear-gradient(135deg, rgba(125, 125, 125, 0.8), rgba(14, 14, 14, 1));
}

.control-group {
    display: inline-block;
    margin: 20px;
}

.control-label {
    color: #eee;
}
