<div class="hero-unit" ng-repeat="data in main.resource | filter: main.filter">
    <h1>{{data.year}}</h1>
    <pre>{{data.regions}}</pre>
    <pre>{{(main.resource2 | filter: main.filter)[0].regions}}</pre>
</div>

<footer class="text-right navbar navbar-fixed-bottom form-horizontal">
    <div class="control-group">
        <label class="control-label">Year:</label>
        <div class="controls">
            <select ng-model="main.filter.year" ng-options="data.year as data.year for data in main.resource"></select>
        </div>
    </div>
</footer>
